*{
	width: 99%;
	float: left;
}
body{
	background-color: rgb(209, 209, 209);

}
header{
	width: 100%;
	float: left;
	border: solid black 1px;
	padding-bottom: 0.5%;
	padding-left: 0.5%;
	align-content: center;
	background-color: rgb(255, 255, 255);
}
header>h1{
	width: 100%;
	float: left;
	text-align: center;
	background-color: rgb(255, 255, 255);
}
#nav{
	width: 100%;
	float: center;
	align-content: center;
	margin-left: 1%;
	margin-bottom: 1%;
	background-color: rgb(255, 255, 255);
}
#div_menu_db{
	width: calc((100% / 4) - 1%);
	float: left;
	border: solid black 1px;
	text-align: center;
	margin-left: 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}
#div_menu_dbz{
	width: calc((100% / 4) - 1%);
	float: left;
	border: solid black 1px;
	text-align: center;
	margin-left: 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}
#div_menu_todo{
	width: calc((100% / 4) - 1%);
	float: left;
	border: solid black 1px;
	text-align: center;
	margin-left: 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}
#div_menu_dbgt{
	width: calc((100% / 4) - 1%);
	float: left;
	border: solid black 1px;
	text-align: center;
	margin-left: 10px;
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}
#div_menu_db>a{
	color: white;
}
#div_menu_dbz>a{
	color: white;
}
#div_menu_dbgt>a{
	color: white;
}
section{
	width: 95%;
	float: left;
	border: solid black 1px;
	padding-bottom: 0.5%;
	padding-left: 0.5%;
	align-content: center;
	background-color: rgb(255, 255, 255);
	margin-top: 0.5%;
	margin-left: 2.5%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section>.uno>p{
	float: left;
}
.uno>p>img{
	max-width: 50px;
	max-height: 50px;
	display: block;
	float: right;
	margin: 100px;
}
.dos{
	width: 32%;
}
#div_footer{
	width: 100%;
	float: left;
	margin-top: 0.5%;
	align-content: center;
	background-color: rgb(255, 255, 255);
	bottom: 0;
}
#div_footer>p{
	text-align: center;
	clear: both;
}
div{
	border: 1px black solid;
}