*{
	align-content: center;
}
section{
	background-color:orange;
	width: 19%;
	margin: 1px 1px 1px 1px;
	float: left;
}
aside{
	background-color:gray;
	width: 80%;
	margin: 1px 1px 1px 1px;
	float: right;
}
.div-img-peque{
	width: 98%;
	margin: 1px 1px 1px 1px;
}
img{
	width: 200px;
	height: 200px;
}
#div-visor-img{

}