*{
	align-content: center;
	overflow: hidden;
}
section{
	background-color:green;
	width: 74%;
	float: right;
	height: 100vh;
	border-style: solid;
}
#main{

}
aside{
	background-color:white;
	width: 25%;
	float: left;
	height: 100vh;
	border-style: solid;
	overflow-y: auto!important;
}
img{
	max-width: 70%;
	max-height: 30%;
	width: 70%;
	height: 30%;
	display:block;
	text-align:center;
	margin:auto;
}
