*{
	align-content: center;
}
header{
	background-color:red;
	width: 100%;
	margin: 1px 1px 1px 1px;
	float: left;
}
nav{
	background-color:blue;
	width: 100%;
	margin: 1px 1px 1px 1px;
	float: left;
}
.navseparation{
	background-color:rgb(142, 175, 226);
	width: 24.88%;
	margin: 1px 1px 1px 1px;
	float: left;
}
section{
	background-color:orange;
	width: 70%;
	margin: 1px 1px 1px 1px;
	float: left;
}
aside{
	background-color:gray;
	width: 29%;
	margin: 1px 1px 1px 1px;
	float: right;
}
footer{
	background-color:yellow;
	width: 100%;
	margin: 1px 1px 1px 1px;
	float: left;
}
/* https://www.w3schools.com/css/css_align.asp */